body {  
    background-color: #110f0f;
    padding: 20px;
}
.grid-container {
    display: grid;
    align-items: center;
    justify-content: center; 
}
.calculator-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    background-color: white;
} 
.calculator-grid button {
    font-size: 25px;
    background-color: #696969;
    border: none;
    cursor: pointer;   
} 
textarea {
  grid-column: span 4;
  font-size: 25px;
  text-align: end;
  background-color: gray;
  padding: 15px;
  border: none;
}
.calculator-grid button:nth-child(n+18) {
    background-color: #808080; 
}
button:hover,
.calculator-grid button:nth-child(n+18):hover {
    background-color: black;
    color: white;
    transition: 0.2s;
}