* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #000000, #000000f4);
    color: #fff;
    position: relative;
}

.container {
    width: 700px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clock {
    width: 100%;
    height: 100%;
    background: rgba(60, 102, 131, 0.11);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
}

.clock span {
    font-size: 90px;
    font-weight: 550;
    width: 100px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.clock span::after {
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

#hrs::after {
    content: "HOURS";
}

#min::after {
    content: "MINS";
}

#sec::after {
    content: "SEC";
}

#ampm {
    font-size: 50px; 
    margin-left: 20px;
    font-weight: 550;
    color: #f39c12; 
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        height: auto;
    }

    .clock {
        flex-direction: column;
        padding: 20px;
    }

    .clock span {
        font-size: 65px; 
        margin-bottom: 10px;
    }

    #ampm {
        font-size: 50px; 
        margin-left: 0; 
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 100%;
        height: auto;
    }

    .clock span {
        font-size: 45px;
    }

    #ampm {
        font-size: 30px; 
    }
}